<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- import UV -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/universalviewer@4.0.0/dist/uv.css"
    />
    <script
      type="application/javascript"
      src="https://cdn.jsdelivr.net/npm/universalviewer@4.0.0/dist/umd/UV.js"
    ></script>

    <title>UV Hello World</title>
    <style>
        #uv {
            width: 800px;
            height: 600px;
        }
    </style>
</head>
<body>

    <div id="uv" class="uv"></div>

    <script>

      const data = {
        manifest: "/static/{{manifest}}",
        embedded: true
      };

      var myUV = UV.init("uv", data);

      // TODO: New UV API doesn't have this property -- need to include logging.

      // myUV.on("created", function(obj) {
      //           console.log('parsed metadata', myUV.extension.helper.manifest.getMetadata());
      //           console.log('raw jsonld', myUV.extension.helper.manifest.__jsonld);
      //       });


    </script>

</body>
</html>